body {
  display: grid;
  flex-direction: column;
  color: white;
  background-color: rgb(25, 25, 25) !important;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
}

#HEADER {
}

#midSection {
  display: grid;
  grid-template-columns: 220px 6fr 4fr;
}

#popularApp {
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  user-select: none;
}

#RAApp {
  margin: 0;
  padding: 0;
  grid-column-start: 3;
  word-wrap: break-word;
  color: white;
  user-select: none;
  max-width: 390px;
}

#albumApp {
  user-select: none;
}

.container-fluid.react-client-src-styles-App__popular-songs--JzU-v {
  padding-left: 10px;
}
